* {
    user-select: none;
    pointer-events: none;
}

body {
    font-family: "Inter", "system-ui";
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#app {
    position: absolute;
    inset: 0;
}
