# Default configuration that works for the docker environment
# Replace any value necessary if you wish to run this server in an other environment

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Rcon password
#rcon_password ""

# Set server names and description
sv_hostname "En développement."
sets sv_projectName "SOZ"
sets sv_projectDesc "SOZ Test server"

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# Do not show the server in listing by default
sv_master1 ""

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# Limit to 16 players by default
sv_maxclients 16

# License key for your server (https://keymaster.fivem.net)
#sv_licenseKey changeme

# Mysql connection string
set mysql_connection_string "mysql://soz:soz@localhost/soz?charset=utf8mb4"
set mysql_debug true

# Log format configuration
# json or text
set log_format json
set log_level info

# Disable steam login for development usage
set soz_disable_steam_credential true

# Mumble configuration
setr soz_voip_mumble_address "127.0.0.1"
setr soz_voip_mumble_port 14738

set soz_voip_mumble_http_endpoint http://zumble:8080
set soz_voip_mumble_http_username admin
set soz_voip_mumble_http_password changeme
set mumble_disableServer true
