# Default configuration that works for the docker environment
# Replace any value necessary if you wish to run this server in an other environment

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Rcon password
#rcon_password ""

# Set server names and description
sv_hostname "SOZ"
sets sv_projectName "SOZ"
sets sv_projectDesc "SOZ Test server"

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# Do not show the server in listing by default
sv_master1 ""

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# Limit to 16 players by default
sv_maxclients 16

# License key for your server (https://keymaster.fivem.net)
#sv_licenseKey changeme

# Mysql connection string
set mysql_connection_string "mysql://soz:soz@localhost/soz?charset=utf8mb4"
