# Use production settings
exec modules-prod.cfg

# Test specific settings under this line
# Mapping
start [mapping-test]

# Vehicles
start [vehicles-test]

# Features
setr feature_halloween 1

# Environment
setr soz_core_environment test
