# PRODUCTION

# Requirements
start [default]
start [lib]

# Mysql
start oxmysql
start mysql-migration

# Tooling
start soz-afk
start soz-monitor

# SOZ
start [qb]
start [soz]
start [clothes]
start [weapon]

# Mapping
start [mapping-prod]
start [mapping-private]

# Vehicles
start [vehicles-prod]

