.Wrapper {
    min-width: 24rem;
    transition: transform 0.3s, opacity 0.3s;
}

.Show {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}

.Hide {
    transform: translateY(-2vw);
    opacity: 0;
    z-index: 0;
}

.Banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    height: calc(200px * 0.3);
    user-select: none;
}

.Banner > span {
    float: right;
    margin: .5rem 0.8rem;
    font-size: .8rem;
    line-height: 1.2rem;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
