.news {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: .3rem;
    transition: all 0.3s ease-out;
    border-radius: .4rem;
    font-size: 0.95rem;
    color: #fff;
    background: rgba(0,0,0,.8);
}

.news * {
    padding: 0;
    margin: 0;
}

.news p::first-letter {
    text-transform: uppercase;
}

.news.slideIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.news.slideOut {
    transform: translateY(5vw);
    opacity: 0;
}

@keyframes slideIn {
    from {
        transform: translateY(5vh);
        opacity: 0;
    }

    to {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.header {
    background: rgba(0,0,0,.2);
    text-align: right;
    text-transform: uppercase;
    padding: .5rem .8rem;
}

.text {
    padding: .5rem .8rem;
}

/* News color */
.news.annonce {
    background: rgba(139,92,246,.8);
}

.news.breaking-news {
    background: rgba(239,68,68,.8);
}

.news.publicité {
    background: rgba(236,72,153,.8);
}

.news.fait-divers {
    background: rgba(249,115,22,.8);
}

.news.info-traffic {
    background: rgba(59,130,246,.8);
}
