.news {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: .3rem;
    transition: all 0.3s ease-out;
    font-size: 0.95rem;
    color: #fff;
    background: url("../../../assets/twitch-news/default.png") no-repeat;
    background-size: contain;
    min-height: 20vh;
}

.news.lspd {
    background: url("../../../assets/twitch-news/lspd.png") no-repeat;
    background-size: contain;
}

.news.bcso {
    background: url("../../../assets/twitch-news/bcso.png") no-repeat;
    background-size: contain;
}

.news.fbi {
    background: url("../../../assets/twitch-news/fbi.png") no-repeat;
    background-size: contain;
}

.news.reboot_5 {
    background: url("https://soz.zerator.com/static/images/reboot_5.png") no-repeat;
    background-size: contain;
}

.news.reboot_15 {
    background: url("https://soz.zerator.com/static/images/reboot_15.png") no-repeat;
    background-size: contain;
}

.news * {
    padding: 0;
    margin: 0;
}

.news p::first-letter {
    text-transform: uppercase;
}

.news.slideIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.news.slideOut {
    transform: translateY(5vw);
    opacity: 0;
}

@keyframes slideIn {
    from {
        transform: translateY(5vh);
        opacity: 0;
    }

    to {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    text-transform: uppercase;
    font-size: 4rem;
    height: 5vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 13.6vh;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / span 3;
    font-size: 1.8rem;
    padding: 1rem;
}

.reporter {
    text-align: right;
    padding-right: 1rem;
    font-size: 1.2rem;
}

@media (max-width: 2560px) {
    .header {
        font-size: 3rem;
    }
    .text {
        font-size: 1.2rem;
        padding: .7rem;
    }
    .reporter {
        font-size: 0.9rem;
    }
}

@media (max-width: 1920px) {
    .header {
        font-size: 2rem;
    }
    .text {
        font-size: .95rem;
        padding: .5rem;
    }
    .reporter {
        font-size: 0.7rem;
    }
}
