/* Item */
.item {
    display: flex;
    font-weight: 300;
    color: white;
    padding: .2rem 1em;
    margin-bottom: .2rem;
    border-radius: .3rem;
    background: rgba(255, 255, 255, .10);
    align-items: center;
}

.item:hover {
    background: rgba(255, 255, 255, .25);
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.item:hover .tooltip {
    visibility: visible;
}

.label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    left: 0;
    width: 16.5vw;
    top: 60vh;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: .5rem .8rem;
    border-radius: 6px;
}

/* Sortable Container */
.content {
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, .6);
    padding: .5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    height: 50vh;
}

.content::-webkit-scrollbar {
    width: 6px;
}
.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content::-webkit-scrollbar-thumb {
    background: #888;
}
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content > * + * {
    margin-top: 0.25rem;
}

/* Context Menu */
.contextMenu {
    position: absolute;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.optionsList {
    background: rgba(0, 0, 0, .8);
    padding: .5rem;
    min-width: 10rem;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .6);
}

.optionListItem {
    padding: .5rem;
    border-radius: .3rem;
    list-style-type: none;
    cursor: pointer;
}

.optionListItem:hover {
    background: rgba(255, 255, 255, .15);
}
