:root{
  --progressbar-hunger-primary: linear-gradient(to top, rgba(251, 140, 0, 0.6) 31%, rgba(255, 168, 55, 0.6) 100%);
  --progressbar-thirst-primary: linear-gradient(to top, rgba(30, 135, 228, 0.6) 31%, rgba(94, 165, 239, 0.6) 100%);
  --progressbar-weed-primary: linear-gradient(to top, rgba(37, 228, 30, 0.6) 31%, rgba(97, 243, 91, 0.6) 100%);
  --progressbar-drunk-primary: linear-gradient(to top, rgba(228, 30, 47, 0.6) 31%, rgba(241, 78, 92, 0.6) 100%);
  --progressbar-fg-opacity: 0.6;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  transition: opacity .5s;
  /*background-color: #0d3349;*/
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/**
 * Needs style
 */
.statues {
  position: absolute;
  width: 12vw;
  bottom: 1.3rem;
  right: .8vw;
}

.status {
  display: flex;
  padding: .3rem;
  margin: .3rem 0;
  border-radius: .3rem;
  background-color: rgba(0, 0, 0, .4);
}

.status .icon {
  padding-left: .2rem;
  padding-right: .5rem;
  height: .8rem;
  width: .8rem;
  color: white;
}

.status .icon svg {
  height: .8rem;
  width: .8rem;
}

.status .progressbar {
  display: flex;
  width: 100%;
  border-radius: .15rem;
  overflow: hidden;
}

.status .progressbar .progress {
  display: flex;
  flex-direction: column;
  transition: width 1s;
}

/** Progress bar color **/
.progressbar.hunger {
  background-color: rgba(251, 140, 0, 0.4);
}

.progressbar .progress.hunger {
  background: var(--progressbar-hunger-primary);
}

.progressbar.thirst {
  background-color: rgba(30, 135, 228, 0.4);
}

.progressbar .progress.thirst {
  background: var(--progressbar-thirst-primary);
}

.progressbar.drunk {
  background-color: rgba(228, 30, 53, 0.4);
}

.progressbar .progress.drunk {
  background: var(--progressbar-drunk-primary);
}

.progressbar.weed {
  background-color: rgba(79, 228, 30, 0.4);
}

.progressbar .progress.weed {
  background: var(--progressbar-weed-primary);
}

/**
 * Speedometer style
 */
.speedometer {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30vw;
  bottom: 1.2vh;
  left: 35vw;
  transition: opacity .5s;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .7))
}

.speedometer .seatbelt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgba(255, 255, 255, .3);
  animation-duration: 2s;
}

.speedometer .seatbelt.belt {
  animation-name: belt;
}
.speedometer .seatbelt.nobelt {
  animation-name: nobelt;
}

.speedometer .seatbelt svg,
.speedometer .lights vehicle-light svg {
  width: 30px;
  height: 30px;
}

.speedometer .gauge {
  display: flex;
  justify-content: center;
  margin-right: -40px;
}

.speedometer .gauge vehicle-speed .display {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  top: 1.5rem;
  width: 100px;
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.speedometer .gauge vehicle-speed .display .speed {
  color: white;
  font-size: 1.8rem;
}

.speedometer .gauge vehicle-fuel {
  position: relative;
  right: 20px;
  top: 60px;
}

.speedometer .fuel g {
  transform: translate(16px, 13px);
}

.speedometer .lights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 255, 255, .3);
}

.speedometer .lights vehicle-light svg {
  transition: all .5s;
}

@keyframes belt {
  from {
    color: rgba(255, 255, 255, .3);
  }
  50% {
    color: #2ecc71;
  }

  to {
    color: rgba(255, 255, 255, .3);
  }
}

@keyframes nobelt {
  from {
    color: rgba(255, 255, 255, .3);
  }
  50% {
    color: rgb(255,2,69);
  }

  to {
    color: rgba(255, 255, 255, .3);
  }
}
