body {
    margin-top: 15vh;
}

#bankingContainer {
    background: rgb(45, 45, 45) !important;
    border-radius: 7px;
    height: 70vh;
    display: none;
}

#ATMContainer {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 20px;
    height: 70vh;
    display: none;
    border: 2px solid #28a745;
}

.card, #v-pills-tab {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.statement:hover {
    background: rgba(150, 149, 149, 0.5) !important;
}

#v-pills-tabContent,
#v-pills-tabContent-atm {
    overflow-y: scroll;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    height:70vh;
}

#v-pills-tabContent::-webkit-scrollbar-track,
#v-pills-tabContent-atm::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar-thumb,
#v-pills-tabContent-atm::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar,
#v-pills-tabContent-atm::-webkit-scrollbar {
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent
}

.title {
    color: white;
    margin-bottom: 15px;
    font-weight: bolder;
    border-left: 2px solid #28a745;
}

.content {
    color: white;
    font-size: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #28a745;
}

.small, small {
    font-size: 95%;
    font-weight: bolder;
}

input.form-control {
    color: white;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .3);
}

input.form-control:focus {
    color: white;
    background-color: rgba(255, 255, 255, .3);
    border-color: rgba(255, 255, 255, .4);
}

input.form-control::placeholder {
    color: #949494;
}
