  .tetris-grid-container {
    /* Tetris grid container styles */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
  }
  
  .tetris-grid {
    /* Tetris grid styles */
    position: relative;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(20, 20px);
    grid-gap: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .tetris-cell {
    /* Tetris cell styles */
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .tetris-next-tetromino-container {
    /* Tetris next tetromino container styles */
    margin-left: 10px;
  }
  
  .tetris-next-tetromino {
    /* Tetris next tetromino styles */
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(4, 20px);
    grid-gap: 1px;
    position: relative;
    margin-left: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
  }
  

  .tetris-game-over-container {
    /* Game over display styles */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  .tetris-game-over-text {
    /* Game over text styles */
    margin: 0;
    color: white;
    font-size: 36px;
  }
  
  .tetris-game-over-container button {
    /* Button styles */
    margin-top: 20px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .tetris-game-over-container  button:hover {
    /* Button hover styles */
    background-color: #666;
  }
  
  .tetris-game-over-container  button:active {
    /* Button active styles */
    transform: translateY(2px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  