* {
    box-sizing: border-box;
  }
  .game-block {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #3d3d3f6e;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .piece-view {
    width: 120px;
    height: 120px;
  }
  .piece-view:first-child {
    margin-top: 4px;
  }
  .piece-view .game-block {
    width: 18px;
    height: 18px;
  }
  .piece-i {
    background-color: #3eafff;
  }
  .piece-j {
    background-color: #37d437;
  }
  .piece-l {
    background-color: #e851ea;
  }
  .piece-o {
    background-color: #feda2a;
  }
  .piece-s {
    background-color: #e55f00;
  }
  .piece-t {
    background-color: #1300e5;
  }
  .piece-z {
    background-color: #ff4f4d;
  }
  .piece-preview {
    /*background-color: #eee;*/
  }

  table {
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
  }

  .tetris_appcontainer {
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    width: 95%;
    position: relative;
    margin: 50px auto 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .tetris_score {
    position: relative;
    font-family: monospace;
    font-size: 18px;
    color: #fff;
    margin-bottom: 7%;
    text-align: center;
  }

  .tetris_lefthalf {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
  }

  .tetris_righthalf {
    display: inline-block;
    width: 33%;
    text-align: right;
    vertical-align: middle;
  }

  .tetris_centerhalf {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: center;
  }

  .tetris_column {
    display: inline-block;
    vertical-align: top;
  }

  .tetris_middlecolumn {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
  }

  .tetris_popup {
    position: absolute;
    font-family: monospace;
    font-size: 24px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ddbebe;
    padding: 12px 24px;
    text-align: center;
    border-radius: 8px;
  }

  .tetris_alert {
    color: #000;
    margin: 0;
  }

  .tetris_button {
    border: 1px solid #666;
    background: none;
    margin-top: 12px;
    border-radius: 4px;
    padding: 10px;
  }

  .tetris_digit {
    font-family: monospace;
    padding: 1px;
    margin: 1px;
    font-size: 24px;
  }

  /* Leaderboard */

  .tetris_leaderboard {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top: 30px;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
  }

  .tetris_leaderboard th {
    color: #fff;
    padding: 12px;
    border-bottom: 1px solid #fff;
  }
  
  .tetris_leaderboard tbody tr:first-child {
    background-color: rgba(201, 176, 55, 0.5);
  }

  .tetris_leaderboard tbody tr:nth-child(2) {
    background-color: rgba(180, 180, 180, 0.5)
  }

  .tetris_leaderboard tbody tr:nth-child(3) {
    background-color: rgba(173, 138, 86, 0.5)
  
  }

  .tetris_leaderboard tbody::before {
    content: "@";
    display: block;
    line-height: 20px;
    text-indent: -99999px;
  }

  .tetris_backbutton {
    color: #fff;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 25px;
  }


