.container {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.container.show {
    background-color: rgba(0, 0, 0, .3);
}

.container.hide {
    background-color: transparent;
}

.formContainer {
    width: 40vw;
    min-height: 2rem;
    padding: .7rem;
    border-radius: .3rem;
    background-color: rgba(0, 0, 0, .6);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.show {
    transform: translateY(0);
    opacity: 1;
}

.hide {
    transform: translateY(2vh);
    opacity: 0;
}

.formContainer h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 .5rem;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}

.formContainer h2::first-letter {
    text-transform: uppercase;
}

.formContainer input,
.formContainer textarea {
    resize: none;
    box-sizing: border-box;
    user-select: text;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
    border: 1px solid rgba(62, 94, 58, 0.7);
    border-radius: .3rem;
    padding: .5rem;
    outline-style: none;
}

.formContainer input:focus,
.formContainer textarea:focus {
    border: 1px solid rgba(61, 186, 37, .7);
}

.formContainer input:focus {
    background-color: rgba(0, 0, 0, .20);
}
