@font-face {
    font-family: "Roboto";
    src: url("../../assets/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.display {
    font-family: "Roboto", sans-serif;
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 1.5rem;
    margin-right: 3rem;
    width: 100px;
    color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.speed {
    color: white;
    font-size: 1.8rem;
}

.gauge path {
    transition: all .3s;
}
