.container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    top: 1vh;
    left: 24.5vw;
    width: 51vw;
    transition: transform 0.3s, opacity 0.3s;
    min-height: 50vh;
}

.container_show {
    transform: translateY(0);
    opacity: 1;
}

.container_hide {
    transform: translateY(-2vw);
    opacity: 0;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    user-select: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 4.6875rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: url("../../assets/default.jpg") left no-repeat;
    background-size: cover;
    box-shadow: inset 0 -.5em 1em rgba(0, 0, 0, .6);
}

.armory {
    background: url("../../assets/armory.jpg") left no-repeat;
    background-size: cover;
}
.bin {
    background: url("../../assets/bin.jpg") left no-repeat;
    background-size: cover;
}
.boss_storage {
    background: url("../../assets/boss_storage.jpg") left no-repeat;
    background-size: cover;
}
.cloakroom {
    background: url("../../assets/cloakroom.jpg") left no-repeat;
    background-size: cover;
}
.flavor_storage {
    background: url("../../assets/flavor_storage.jpg") left no-repeat;
    background-size: cover;
}
.fridge {
    background: url("../../assets/fridge.jpg") left no-repeat;
    background-size: cover;
}
.furniture_storage {
    background: url("../../assets/furniture_storage.jpg") left no-repeat;
    background-size: cover;
}
.inverter {
    background: url("../../assets/inverter.jpg") left no-repeat;
    background-size: cover;
}
.liquor_storage {
    background: url("../../assets/liquor_storage.jpg") left no-repeat;
    background-size: cover;
}
.log_storage {
    background: url("../../assets/log_storage.jpg") left no-repeat;
    background-size: cover;
}
.organ {
    background: url("../../assets/organ.jpg") left no-repeat;
    background-size: cover;
}
.plank_storage {
    background: url("../../assets/plank_storage.jpg") left no-repeat;
    background-size: cover;
}
.player {
    background: url("public/banner/player.jpg") left no-repeat;
    background-size: cover;
}
.recycler_processing {
    background: url("../../assets/recycler_processing.jpg") left no-repeat;
    background-size: cover;
}
.sawdust_storage {
    background: url("../../assets/sawdust_storage.jpg") left no-repeat;
    background-size: cover;
}
.seizure {
    background: url("../../assets/seizure.jpg") left no-repeat;
    background-size: cover;
}
.stash {
    background: url("../../assets/stash.jpg") left no-repeat;
    background-size: cover;
}
.trunk {
    background: url("../../assets/trunk.jpg") left no-repeat;
    background-size: cover;
}

.banner > span {
    float: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    line-height: 1.2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
