
body {
 user-select: none;
 font-family: 'Prompt', sans-serif;
}

.main-map-container {
 display: none;
 position: absolute;
 left: -150vh;
}

.map-text {
 position: absolute;
 width: 35vh;
 text-align: center;
 color: white;
 background-color: #161923;
 margin-top: 50px;
 border: 5px solid white;
 box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.16);
 height: 200px;
 user-select: none;
}

.map-text > p {
 font-size: 1.8vh;
 color: aliceblue;
 font-weight: 600;
 text-shadow: 2px 2px 2px #000000;
}

.map {
  position:fixed;
  width:100%;
  height:100%;
  z-index:0;
}

.spawn-dots-container {
  display: none;
 }

.spawn-dots > i {
 color: rgb(0, 255, 0);
 font-size: 3vh;
 text-shadow: 2px 2px 2px #000000;
}
   
[data-dotnum="spawn1"] {
  position: absolute;
  left: 150vh;
  top: 50vh;
}

[data-dotnum="spawn2"] {
  position: absolute;
  left: 22vh;
  top: 60vh;
}

.spawn-dots > i:hover {
 color: rgb(0, 255, 0);
}

.tooltiptext {
 visibility: hidden;
 width: 120px;
 background-color: #555;
 color: #fff;
 font-weight: 650;
 font-family: 'Prompt', sans-serif;
 font-size: 1.5vh;
 box-shadow: 0px 0px 6px rgb(5, 5, 5);
 text-shadow: 1px 1px 2px #000000;
 text-align: center;
 padding: 5px 0;
 border-radius: 6px;
 position: absolute;
 z-index: 1;
 bottom: 145%;
 left: 50%;
 margin-left: -60px;
 opacity: 0;
 transition: opacity 0.3s;
}
  
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
  
.spawn-dots:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}