@font-face {
    font-family: 'Delight';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/delight/Delight.woff2') format('woff2');
}

@font-face {
    font-family: 'Delight';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/delight/Delight\ Italic.woff2') format('woff2');

}
