.Wrapper {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    top: 2rem;
    bottom: 2rem;
    left: 30%;
    right: 30%;
    transition: transform 0.15s, opacity 0.15s;
}

.PlayerContainer{
    grid-column: 1/1;
    justify-self: end;
    width: auto
}

.StorageContainer{
    grid-column: 3/3;
}

.Show {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}

.Hide {
    transform: translateY(-1rem);
    opacity: 0;
    z-index: 0;
}
