:root {
  --item-color: 163
}

body {
  overflow: hidden;
}

#app {
  position: absolute;
  width: 260px;
  height: 260px;
  top: calc(50% - 130px);
  left: calc(50% - 130px);
}

#target-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 2vh;
  text-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, .2);
  z-index: 10;
}

#target-wrapper {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  z-index: 1;
}

/* Items */
.target-item {
  position: absolute;
  border: 0.125rem solid hsla(var(--item-color), 88%, 35%, .8);
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  width: 2.9rem;
  height: 2.9rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px hsla(var(--item-color), 89%, 15%, 0.6), inset 0 0 5px hsla(var(--item-color), 88%, 20%, 0.6);
  cursor: pointer;
  transform: scale(0) translateY(0) translateX(0);
  opacity: 0;
  transition: all 175ms linear;
  will-change: left, top, opacity, background;
}

.target-item:hover {
  border: 0.125rem solid hsla(var(--item-color), 88%, 30%, .8);
}

.target-item .icon img {
  width: 1.3rem;
  height: 1.3rem;
}

/* Item jobs */
.target-item.lspd {
  --item-color: 209;
}
.target-item.bcso {
  --item-color: 164;
}
.target-item.lsmc {
  --item-color: 142;
}
.target-item.oil {
  --item-color: 49;
}
.target-item.news {
  --item-color: 264;
}
.target-item.taxi {
  --item-color: 60;
}
.target-item.food {
  --item-color: 344;
}
.target-item.garbage {
  --item-color: 200;
}
.target-item.cash-transfer {
  --item-color: 105;
}
.target-item.bennys {
  --item-color: 10;
}
.target-item.fbi {
  --item-color: 207;
}
.target-item.pawl {
  --item-color: 15;
}
.target-item.crimi {
  --item-color: 0;
}

.target-item .tooltip {
  position: absolute;
  top: 0;
  width: 150px;
  font-size: 14px;
  background: rgba(0, 0, 0, .4);
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  opacity: 0;
  z-index: 10;
}

.target-item:hover .tooltip {
  top: -2.5rem;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}