@import url('https://fonts.googleapis.com/css?family=Prompt:400,500');
body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}
.super-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#identity {
    font-size: .85em;
}
#licenses {
    font-size: 1em;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    position: relative;
    margin: 0 auto;
}
.content {
    position: absolute;
    top: 20%;
    left: 7%;
    width: 86%;
    height: 70%;
    display: flex;
}
.is-half {
    width: 50%;
}
.left-col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}
.right-col {
    display: flex;
    justify-content: space-evenly;
}
#left-col-identity img {
    opacity: 0.95;
    background-color: black;
}
#right-col-identity {
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 4%;
}
#left-col-licenses {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6.5%;
}
#left-col-licenses > .vehicle-limit {
    padding-left: 8px;
}
#left-col-licenses > .name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#right-col-licenses {
    height: 87%;
}
#identity-new-player-badge {
    position: absolute;
    top: -35px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url('identity-badge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 100%;
}
.items div, .item {
    height: 11%;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item.small {
    font-size: .7em;
}
.text-small {
    font-size: .75em;
    line-height: .2em;
    font-weight: initial;
}
.text-bold {
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.small-lh {
    line-height: 1.2em;
}
@media all and (max-width: 1920px) {
    .bg-img {
        width: 500px;
    }
    #left-col-identity img {
        width: 150px;
        height: 150px;
    }
}
@media all and (min-width: 1921px) and (max-width: 4095px) {
    body {
        font-size: 1.2em;
    }
    .bg-img {
        width: 600px;
    }
    #left-col-identity img {
        width: 180px;
        height: 180px;
    }
    #identity-new-player-badge {
        top: -35px;
        right: 12px;
    }
}
@media all and (min-width: 4096px){
    body {
        font-size: 2em;
    }
    .bg-img {
        width: 1000px;
    }
    #left-col-identity img {
        width: 300px;
        height: 300px;
    }
    #identity-new-player-badge {
        top: -60px;
        right: 20px;
        width: 60px;
        height: 60px;
    }
}
