.notification {
    position: relative;
    width: 100%;
    padding: .5rem .8rem;
    overflow: hidden;
    margin-bottom: .3rem;
    transition: all 0.3s ease-out;
    border-radius: .4rem;
    font-size: 0.95rem;
    color: #fff;
    background: linear-gradient(to right, rgba(0,0,0,.6) 50%, rgba(0,0,0,.25));
}

.notification::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #33be1c;
}

/* Notification type */
.notification.error::before {
    background: #f63939;
}

.notification.warning::before {
    background: #dc6c27;
}

.notification.info::before {
    background: #2d93dc;
}

.notification * {
    padding: 0;
    margin: 0;
}

.notification p::first-letter {
    text-transform: uppercase;
}

.notification.slideIn {
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.notification.slideOut {
    transform: translateX(-5vw);
    opacity: 0;
}

@keyframes slideIn {
    from {
        transform: translateX(-5vw);
        opacity: 0;
    }

    to {
        transform: translateX(0vw);
        opacity: 1;
    }
}

.header {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: .5rem;
    width: 100%;
}

.header img {
    width: 100%;
    aspect-ratio: 1/1;
}

.header_text {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text {
    padding: .3rem 0;
}
