@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    width: 20%;
    position: fixed;
    bottom: 8.50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-labels {
    width: 100%;
    line-height: 3vh;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.progress-labels div {
    font-family: 'Prompt', sans-serif;
    position: relative;
    font-size: 1.3vh;
    line-height: 3vh;
    color: #ffffff;
    z-index: 10;
    padding: 0 .2vw;
    animation-duration: 2s;
    animation-name: slide-in;
    transition-timing-function: ease-in-out;
    text-transform: capitalize;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5), 1px -1px 0 rgba(0,0,0,.5), -1px 1px 0 rgba(0,0,0,.5), 1px 1px 0 rgba(0,0,0,.5);
}

.progress-bar-container {
    width: 100%;
    height: 1vh;
    background: rgba(0, 0, 0, 0.246);
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 0.3em;
}

.progress-bar {
    background: linear-gradient(to top, #38BB13 31%, #3FD215 100%) !important;
    width: 0;
    height: 1vh;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(5vh);
    }
    to {
        transform: translateY(0);
    }
}
